<ul data-role='listview'>
	<li>
		<h1> About my.Eskwela Mobile </h1>
	</li>
	<li>
		<div style='width:100%;font-weight:normal'>
			The myEskwela mobile application is delivered with settings to access your internet based myEskwela application and also has prebuilt integration to your device.
With the myEskwela mobile app, you can manage the myEskwela from your mobile device so that method content such as the attendance and grades are easily shared and securely administered among all the users.
		</div>
		<div style='width:100%;font-weight:normal'>
			<button> Download User Manual </button>
		</div>
	</li>
</ul>
